@font-face {
  font-family:'Heir of Light';
  src:url(https://tontonmori.github.io/Sopapedia/css/https://tontonmori.github.io/Sopapedia/css/res/HeirofLightRegular.woff2) format('woff2'),
  url(res/HeirofLightRegular.woff) format('woff');
  font-weight:300;
  font-style:normal;
  font-display:swap
}
@font-face {
  font-family:'Heir of Light bold';
  src:url(https://tontonmori.github.io/Sopapedia/css/https://tontonmori.github.io/Sopapedia/css/res/HeirofLightBold.woff2) format('woff2'),
  url(res/HeirofLightBold.woff) format('woff');
  font-weight:300;
  font-style:normal;
  font-display:swap
}
a {
  color:#fff
}
.navbar {
  overflow:hidden;
  color:#fff!important;
  background-color:#333;
  font-family:'Heir of Light bold'!important;
  border-radius:0!important;
  z-index:1
}
.navbar a {
  float:left;
  font-size:16px;
  color:#fff;
  text-align:center;
  padding:14px 16px;
  text-decoration:none
}
.dropdown {
  float:left;
  overflow:hidden
}
.dropdown .dropbtn {
  font-size:16px;
  border:none;
  outline:0;
  color:#fff;
  padding:14px 16px;
  background-color:inherit;
  font-family:inherit;
  margin:0
}
.dropdown:hover .dropbtn,
.navbar a:hover {
  background-color:purple
}
.dropdown-content {
  display:none;
  position:absolute;
  background-color:#f9f9f9;
  min-width:160px;
  box-shadow:0 8px 16px 0 rgba(0,0,0,.2);
  z-index:1
}
.dropdown-content a {
  float:none;
  color:#000;
  padding:12px 16px;
  text-decoration:none;
  display:block;
  text-align:left
}
.dropdown-content a:hover {
  background-color:#ddd
}
.dropdown:hover .dropdown-content {
  display:block
}
html {
  position:relative;
  min-height:100%
}
body {
  font-family:'Heir of Light'
}
body>.container {
  padding:60px 15px 0
}
.media-body>p {
  margin-bottom:2px
}
.cell-header {
  font-weight:700;
  margin-top:6px;
  margin-bottom:4px
}
td>.row {
  margin-left:10px;
  margin-right:10px
}
hr.separator {
  margin-top:12px;
  margin-bottom:12px
}
img.role-icon {
  margin-right:4px;
  background-color:#444
}
.media.skill-list {
  margin-top:2px
}
small.condition {
  color:#e9967a
}
small.condition-ally {
  color:#1e90ff
}
small.additional {
  color:#4169e1
}
.modal-body>h5 {
  background-color:#afeeee;
  padding:2px 12px
}
.filter-label {
  margin:4px 8px
}
.filter-hide,
.filter-hide-br,
.filter-hide-brse,
.filter-hide-efbu,
.filter-hide-efde,
.filter-hide-efut,
.filter-hide-el,
.filter-hide-jb,
.filter-hide-re,
.filter-hide-ro,
.filter-hide-sn,
.filter-hide-te {
  display:none
}
.panel-body>h5 {
  background-color:#e6e6fa;
  padding:2px 12px;
  font-weight:700
}
span#resultFilter {
  color:indigo;
  font-weight:400
}
.panel-body .float-top-right {
  float:right;
  margin-top:-8px;
  margin-right:12px
}
.panel-body h5>.float-top-right {
  float:right;
  margin-top:-2px;
  margin-right:0
}
.title-inline {
  display:inline;
  margin-right:24px
}
