@font-face {
    font-family: 'Heir of Light';
    src: url('res/HeirofLightRegular.woff2') format('woff2'),
        url('res/HeirofLightRegular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heir of Light bold';
    src: url('res/HeirofLightBold.woff2') format('woff2'),
        url('res/HeirofLightBold.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
	font-family: 'Heir of Light';
	font-size: larger;
	color: white;
	margin: 0;
	align-items: center;
    justify-content: center;
}

a {
  color: white;
}

/* Navbar container */
.navbar {
  background-color: #333333;
  font-family: 'Heir of Light bold' !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: purple;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.page-header {
  padding: 30px;
}

h1 {
	display: flex;
	text-decoration: underline overline white;
	text-shadow: 4px 4px 8px black, 0 0 1em black, 0 0 0.2em black;
	align-items: center;
    justify-content: center;
}

.title {
	font-size: 5em;
}

h2 {
	display: flex;
	text-decoration: underline overline white;
	align-items: center;
    justify-content: center;
}

h2 img {
	margin-right: 10px;
}

div {
}
.divTable .divTableCell, .divTable .divTableHead {
}
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}

.flex-container {
  display: flex;
  flex-flow: column;
  gap: 10px;
  padding: 0;
  margin: 10px;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.char-gallery {
  display: flex;
  flex: 33%;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin: 10px;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.flex-item {
	background: rgba(0, 0, 0, 0.8);
	padding: 10px;
	width: 80%;
	color: white;
}

.flex-character {
	background: rgba(0, 0, 0, 0.8);
	padding: 10px;
	width: 550px;
	height: 250px;
	color: white;
}

img {
    max-width: 100%;
    height: auto;
}

img.Feu {
	border: 3px solid #B22222;
	background-color: #FFDFDF;
}

img.Eau {
	border: 3px solid #4199FF;
	background-color: #E1E1FF;
}

img.For {
	border: 3px solid #228B22;
	background-color: #EAFEE2;
}

img.Lum {
	border: 3px solid #CEAB00;
	background-color: #EFEFCA;
}

img.Ten {
	border: 3px solid #4B0082;
	background-color: #EFCDF8;
}

.image-container {
	position: relative;
	display: inline-block;
}

.image-overlay {
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
	margin: 2px 4px 0 0;
	color: #F4BF4F;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.image-overlay div {
	line-height: 1;
}

.emoji {
	height: 21px;
}

.Buff {
	text-shadow: 1px 1px 2px blue;
}

.Debuff {
	text-shadow: 1px 1px 2px red;
}

.Util {
	text-shadow: 1px 1px 2px yellow;
}

.Team {
	text-shadow: 1px 1px 2px green;
}

.ContentTable{
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	font-size: medium;
	text-align: center;
	border: 1px solid #cccccc;
}
.ContentTable td{
	border: 1px solid #cccccc;
}
.ContentTable th{
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #cccccc;
	font-weight: 1000;
	color: burlywood;

}

#video-background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Scale the video to cover the entire container */
	 z-index: -1;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 10px;
	width: 78%; /* Pour s'aligner avec les autres divs */
	margin: 0 auto; /* Centrer la galerie horizontalement */
	padding: 20px;
	background: rgba(0, 0, 0, 0.8);
}


.gallery img {
	width: 100%;
	height: auto;
	border: 2px solid #ccc;
	cursor: pointer;
	transition: transform 0.2s ease;
}

.gallery img:hover {
	transform: scale(1.05);
	border-color: #FFAA00;
}

.modal {
	display: none;
	position: fixed;
	z-index: 9999;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.9);
}

.modal-content {
	margin: auto;
	display: block;
	max-width: 80%;
	max-height: 80%;
}

.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover, .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}