@font-face {
    font-family: 'Heir of Light';
    src: url('../res/HeirofLightRegular.woff2') format('woff2'),
        url('../res/HeirofLightRegular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heir of Light bold';
    src: url('../res/HeirofLightBold.woff2') format('woff2'),
        url('../res/HeirofLightBold.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
	font-family: 'Heir of Light';
	font-size: 16px;
	color: white;
	margin: 0;
	align-items: center;
    justify-content: center;
}

a {
    color:#fff
}
.navbar {
    overflow: hidden;
    color: orange;
    background-color: black;
}

.navbar a {
    float: left;
    display: block;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: orange;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: orange;
    background-color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropdown-content a:hover {
    color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }
    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .navbar.responsive .dropdown {float: none;}
    .navbar.responsive .dropdown-content {position: relative;}
    .navbar.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

.servant {
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.servant img {
    display: block;
    width: 100px; /* ou la taille que vous voulez */
    height: auto;
}

.title {
	font-size: 3em;
}

h1 {
	display: flex;
    font-size: 2em;
	text-decoration: underline overline white;
	text-shadow: 4px 4px 8px black, 0 0 1em black, 0 0 0.2em black;
	align-items: center;
    justify-content: center;
}

h2 {
	display: flex;
    font-size: 1.5em;
	text-decoration: underline overline white;
	align-items: center;
    justify-content: center;
}

h2 img {
	margin-right: 10px;
}

@media (max-width: 768px) {
    body {
      font-size: 14px;
    }
  
    h1 {
      font-size: 1.75em;
    }
  
    h2 {
      font-size: 1.25em;
    }
  
    .title {
      font-size: 2.5em;
    }
  }
  

.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}

.flex-container {
  display: flex;
  flex-flow: column;
  gap: 10px;
  padding: 0;
  margin: 10px;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.char-gallery {
  display: flex;
  flex: 33%;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin: 10px;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.flex-item {
	background: rgba(0, 0, 0, 0.8);
	padding: 10px;
	width: 80%;
	color: white;
}

.flex-character {
	background: rgba(0, 0, 0, 0.8);
	padding: 10px;
	width: 550px;
	height: 250px;
	color: white;
}

img {
    max-width: 100%;
    height: auto;
}

img.Feu {
	background-color: #591408;
    border: 3px solid #BB2222;
}

img.Eau {
	background-color: #143241;
    border: 3px solid #479CBE;
}

img.For {
	background-color: #1D3E15;
    border: 3px solid #579B46;
}

img.Lum {
	background-color: #44331A;
    border: 3px solid #CF9C47;
}

img.Ten {
	background-color: #341E38;
    border: 3px solid #A24EC4;
}

.image-container {
	position: relative;
	display: inline-block;
}

.image-overlay {
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
	margin: 2px 4px 0 0;
	color: #F4BF4F;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.image-overlay div {
	line-height: 1;
}

.emoji {
	height: 21px;
}

.Buff {
	text-shadow: 1px 1px 2px blue;
}

.Debuff {
	text-shadow: 1px 1px 2px red;
}

.Util {
	text-shadow: 1px 1px 2px yellow;
}

.Team {
	text-shadow: 1px 1px 2px green;
}

.ContentTable{
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	font-size: medium;
	text-align: center;
	border: 1px solid #cccccc;
}
.ContentTable td{
	border: 1px solid #cccccc;
}
.ContentTable th{
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #cccccc;
	font-weight: 1000;
	color: burlywood;

}

#video-background {
    position: fixed; /* Reste fixé à l'écran lors du défilement */
    top: 0;  /* Commence au haut de l'écran */
    left: 0; /* Commence à gauche de l'écran */
    right: 0; /* S'étend jusqu'à droite de l'écran */
    bottom: 0; /* S'étend jusqu'au bas de l'écran */
    width: auto;  /* Largeur ajustée automatiquement */
    height: auto; /* Hauteur ajustée automatiquement */
    min-width: 100vw;  /* Largeur minimale de 100% du viewport */
    min-height: 100vh; /* Hauteur minimale de 100% du viewport */
    object-fit: cover; /* Couvre entièrement l'espace disponible sans altérer le ratio */
    background-color: black; /* Fond noir en cas de problème d'affichage */
    z-index: -1; /* S'assure que la vidéo reste en arrière-plan */
    overflow: hidden; /* Cache les débordements éventuels */
}

.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 10px;
	width: 78%; /* Pour s'aligner avec les autres divs */
	margin: 0 auto; /* Centrer la galerie horizontalement */
	padding: 20px;
	background: rgba(0, 0, 0, 0.8);
}


.gallery img {
	width: 100%;
	height: auto;
	border: 2px solid #ccc;
	cursor: pointer;
	transition: transform 0.2s ease;
}

.gallery img:hover {
	transform: scale(1.05);
	border-color: #FFAA00;
}

.modal {
	display: none;
	position: fixed;
	z-index: 9999;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.9);
}

.modal-content {
	margin: auto;
	display: block;
	max-width: 80%;
	max-height: 80%;
}

.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover, .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}